*, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
}


h2 {
    font-size: 3rem;
    font-weight: 700;
    color:  hsl(217, 19%, 35%);
}

h3 {
    color:  hsl(217, 19%, 35%);
    opacity: .6;
}

h4 {
    font-size: 1.5rem;
    color:  hsl(217, 19%, 35%);

}

p {
    font-size: 1.6rem;
    word-spacing: .4rem;
    margin-top: 2rem;
    font-weight: 500;
    color:  hsl(217, 19%, 35%);
    opacity: .7;
}

.main-wrapper {
    background: hsl(210, 46%, 95%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-areas: 
    "content-img main-content"; 
    max-width: 1440px;
    transform: scale(.8);

}

.main-content {
    display: grid;
    grid-template-rows: 2.5fr 1fr;
    grid-template-areas: 
    "content"
    "content-bottom";
}

.content-img {grid-area: content-img;}
.main-content {grid-area: main-content;}
.content {grid-area: content;}
.content-bottom {grid-area: content-bottom;}

.content{
    padding: 3rem 4rem;
    background: white;
    border-top-right-radius: 10px;
}
.content-img {
    background-image: url(./images/drawers.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-bottom {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    background: white;
    border-bottom-right-radius: 10px;
}
.content-bottom-img {
    background-image: url(./images/avatar-michelle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}


.content-bottom-share {
    display: flex;
    height: 4rem;
    width: 4rem;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%) ;
    border-radius: 50%;
}

.content-bottom-share:hover + .tooltip{
    visibility: visible;
}

.content-bottom-share:hover p{
    height: 10rem;
}

.content-bottom-svg {
    position: relative;
}

.tooltip {
    background: hsl(217, 19%, 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    position: absolute;
    top: -7rem;
    right: -10rem;
    z-index: 100;
    padding: 1.2rem 3rem;
    border-radius: 15px;
    visibility: hidden;
}

.tooltip::after {
    content: "";
    height: 2rem;
    width: 2rem;
    bottom: -1rem;
    right: 11rem;
    transform: rotate(45deg);
    position: absolute;
    background: hsl(217, 19%, 35%);

}

.tooltip h2 {
    font-size: 1.2rem;
    font-weight: 100;
    color: hsl(210, 46%, 95%) ;
    letter-spacing: .5rem;
    opacity: .9;
    line-height: 2.3rem;
}

.tooltip img {
    margin-left: 1.6rem;
    height: 2.1rem;
    width: 2.1rem;
}

.content-bottom-share img {
    height: 1.8rem;
    width: 1.8rem;
}


.content-bottom-name {
    margin-right: auto;
    margin-left: 2rem;
}

.content-bottom2 {
    display: flex;
    padding: 0 4rem;
    align-items: center;
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: hsl(217, 19%, 35%);
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.content-bottom2 h2{
    font-size: 1.2rem;
    font-weight: 100;
    color: hsl(210, 46%, 95%) ;
    letter-spacing: .5rem;
    opacity: .7;
    color: white;
    line-height: 3.3rem;
    position: relative;
}

.content-bottom-share2 {
    display: flex;
    position: absolute;
    right: 3rem;
    bottom: 1.7rem;
    height: 4rem;
    width: 4rem;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%) ;
    border-radius: 50%;
    background: hsl(210, 46%, 95%);
    z-index: 1;
    visibility: hidden;
}

.content-bottom2 > img{
    padding: 10px;
    height:3.8rem;
}

.content-bottom-share2 {
    margin-left: auto;
}

@media only screen and (max-width:900px){
    html {
        font-size: 11px;
    }

    h2 {
        font-size: 1.7rem;
    }

    .main-wrapper {
        overflow: hidden;
    }

    .content-img {
        height: 200px;
        width: 100%;
    }

    .content, .content-img, .content-bottom{
        border-radius: 0;
    }

    .content-img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .content-bottom {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        /* display: none; */
    }

    .content-wrapper {
        display: block;
    }

    .main-content {
        grid-template-rows: 1fr 80px;
    }

    .content-bottom-share {
        visibility: hidden;
    }

    .content-bottom2 {
        visibility: hidden;
    }

    .content-bottom-share2{
        visibility: visible;
    }

    .content-bottom-share2:active .iconatics *{
        stroke: white;
    }

    .content-bottom-share2:active + .content-bottom2{
        visibility: visible;
    }
    
    .content-bottom-share:hover + .tooltip{
        visibility: hidden;
    }

}